@model AdminViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-9">
            <div class="dashboard_title_area">
                <h2>Администраторско табло</h2>
                <p class="text">Категории, Услуги. Вижте броят на Skiller-ите, Потребителите, Ревютата, Кореспонденциите, Завършените услуги и Уменията.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="table-style1 table-responsive mb-4 mb-lg-5 shadow p-3 mb-5 bg-body-tertiary rounded-3">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th class="fz15 fw500" scope="col"><b>Категории</b></th>
                            <th class="fz15 fw500" scope="col"><b>Посещения</b></th>
                            <th class="fz15 fw500" scope="col"><b>Брой услуги</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>@category.VisitsCount</td>
                                <td>@category.ServicesCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="table-style1 table-responsive mb-4 mb-lg-5 shadow p-3 mb-5 bg-body-tertiary rounded-3">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th class="fz15 fw500" scope="col"><b>10-те популярни услуги</b></th>
                            <th class="fz15 fw500" scope="col"><b>Цена</b></th>
                            <th class="fz15 fw500" scope="col"><b>Местоположение</b></th>
                            <th class="fz15 fw500" scope="col"><b>Статус</b></th>
                            <th class="fz15 fw500" scope="col"><i class="fa-solid fa-circle-info"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var service in Model.Services)
                        {
                            <tr>
                                <td>@service.Name</td>
                                <td>@service.Price</td>
                                <td>@service.Location</td>
                                <td>@service.Status</td>
                                <td><a asp-action="Services" asp-route-id="@service.Id" class="btn"><i class="fa-solid fa-square-pen"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="table-style1 table-responsive mb-4 mb-lg-5 shadow p-3 mb-5 bg-body-tertiary rounded-3">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th class="fz15 fw500" scope="col"><b>10-те популярни skiller-и</b></th>
                            <th class="fz15 fw500" scope="col"><b>Местоположение</b></th>
                            <th class="fz15 fw500" scope="col"><b>Услуги</b></th>
                            <th class="fz15 fw500" scope="col"><b>Ревюта</b></th>
                            <th class="fz15 fw500" scope="col"><i class="fa-solid fa-circle-info"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skiller in Model.Skillers)
                        {
                            <tr>
                                <td>@skiller.Name</td>
                                <td>@skiller.Location</td>
                                <td>@skiller.ServicesCount</td>
                                <td>@skiller.ReviewsCount</td>
                                <td><a asp-action="Skillers" asp-route-id="@skiller.Username" class="btn"><i class="fa-solid fa-user-pen"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="table-style1 table-responsive mb-4 mb-lg-5 shadow p-3 mb-5 bg-body-tertiary rounded-3">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th class="fz15 fw500" scope="col"><b>Потребители</b></th>
                            <th class="fz15 fw500" scope="col"><b>Skiller-и</b></th>
                            <th class="fz15 fw500" scope="col"><b>Ревюта</b></th>
                            <th class="fz15 fw500" scope="col"><b>Кореспонденции</b></th>
                            <th class="fz15 fw500" scope="col"><b>Завършени услуги</b></th>
                            <th class="fz15 fw500" scope="col"><b>Умения</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.UsersCount</td>
                            <td>@Model.SkillersCount</td>
                            <td>@Model.ReviewsCount</td>
                            <td>@Model.ChatsCount</td>
                            <td>@Model.CompletedServicesCount</td>
                            <td>@Model.SkillsCount</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>