@model ICollection<ReviewDTO>
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-12">
            <div class="dashboard_title_area">
                <h2>Моите ревюта</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="bdrb1 pb20">
                    @if (Model != null)
                    {
                        foreach (var review in Model)
                        {
                            <div class="mbp_first position-relative d-sm-flex align-items-center justify-content-start mb30-sm mt30">
                                <img src="@review.User.ProfilePhoto" class="mr-3" width="60" height="60" alt="User profile photo">
                                <div class="ml20 ml0-xs mt20-xs">
                                    <h6 class="mt-0 mb-1">@review.User.Name</h6>
                                    <div class="d-flex align-items-center">
                                        <div><i class="fas fa-star vam fz10 review-color me-2"></i><span class="fz15 fw500">@review.StarsCount</span></div>
                                        <div class="ms-3"><span class="fz14 text">Публикувано на @review.CreatedOn</span></div>
                                    </div>
                                </div>
                            </div>
                            <p class="text mt20 mb20">@review.Content</p>
                        }
                    }
                    else
                    {
                        <h3>Няма ревюта</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>