@model HomeViewModel

<div class="body_content">
    <!-- Home Banner Style V1 -->
    <section class="hero-home2 pb100-xs" style="background-color: #1F4B3F; background-image: url(" https: //demoapus1.com/freeio-new/wp-content/uploads/2022/10/slider2_bg.png");">
        <div class="container">
            <div class="row mb60 mb0-xl">
                <div class="col-xl-7">
                    <div class="pr30 pr0-lg mb30-md position-relative">
                        <h1 class="animate-up-1 mb25 text-white">
                            Перфектните Skiller <br class="d-none d-xl-block">услуги за вашия дом или бизнес
                        </h1>
                        <p class="text-white animate-up-2">Наемете Skiller, който да дойде на избрано от вас място и <br class="d-none d-lg-block"> да свърши нещо вместо вас!</p>
                        <div class="advance-search-tab bgc-white p10 bdrs4-sm bdrs60 banner-btn position-relative zi1 animate-up-3 mt30">
                            <div class="row">
                                <div class="col-md-5 col-lg-6 col-xl-6">
                                    <div class="advance-search-field mb10-sm">
                                        <form class="form-search position-relative">
                                            <div class="box-search">
                                                <span class="icon far fa-magnifying-glass"></span>
                                                <input class="form-control" type="text" name="search" placeholder="Каква услуга търсиш?">
                                                <div class="search-suggestions">
                                                    <h6 class="fz14 ml30 mt25 mb-3">Популярни търсения</h6>
                                                    <div class="box-suggestions">
                                                        <ul class="px-0 m-0 pb-4">
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile app development</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile app builder</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile legends</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile app ui ux design</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile game app development</div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="info-product">
                                                                    <div class="item_title">mobile app design</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-3">
                                    <div class="bselect-style1 bdrl1 bdrn-sm">
                                        <select class="selectpicker" data-width="100%" asp-items="@Model.CategoryList">
                                            <option disabled>Избери категория</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-3">
                                    <div class="text-center text-xl-start">
                                        <button class="ud-btn btn-thm w-100 bdrs60" type="button">Търси</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt20 animate-up-4">
                            <div class="col-xl-9">
                                <div class="row justify-content-between">
                                    <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                        <div class="details">
                                            <ul class="ps-0 mb-0 d-flex">
                                                <li><div class="timer">@Model.ServicesCount</div></li>
                                                @* <li><span>M</span></li> *@
                                            </ul>
                                            <p class="text-white mb-0">Услуги</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                        <div class="details">
                                            <ul class="ps-0 mb-0 d-flex">
                                                <li><div class="timer">@Model.SkillersCount</div></li>
                                                @* <li><span>M</span></li> *@
                                            </ul>
                                            <p class="text-white mb-0">Skillers</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 funfact_one at-home2-hero">
                                        <div class="details">
                                            <ul class="ps-0 mb-0 d-flex">
                                                <li><div class="timer">@Model.PositiveReviewsCount</div></li>
                                                @* <li><span>M</span></li> *@
                                            </ul>
                                            <p class="text-white mb-0">Позитивни ревюта</p>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 funfact_one at-home2-hero pe-0">
                                        <div class="details">
                                            <ul class="ps-0 mb-0 d-flex">
                                                <li><div class="timer">@Model.SkillsCount</div></li>
                                                @* <li><span>M</span></li> *@
                                            </ul>
                                            <p class="text-white mb-0">Умения</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 d-none d-xl-block position-relative">
                    <img src="images/h12.png" alt="" class="animate-up-1 main-img-home2">
                    <div class="home2-hero-content position-relative">
                        <div class="iconbox-small1 d-none d-xl-flex wow fadeInRight default-box-shadow4 bounce-x animate-up-1">
                            <span class="icon flaticon-review"></span>
                            <div class="details pl20">
                                <h6 class="mb-1">Доказателство за качество</h6>
                                <p class="text fz13 mb-0">Сайт за услуги и умения 2024</p>
                            </div>
                        </div>
                        <div class="iconbox-small2 d-none d-xl-flex wow fadeInLeft default-box-shadow4 bounce-y animate-up-2">
                            <span class="icon flaticon-review"></span>
                            <div class="details pl20">
                                <h6 class="mb-1">Безопасно и сигурно</h6>
                                <p class="text fz13 mb-0">Директна комуникация</p>
                            </div>
                        </div>
                        <img src="images/link3.png" alt="" class="bounce-x bdrs16 img-1 default-box-shadow4">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Need something -->
    <section class="our-features pb90 pb30-md pt60">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title">
                        <h2>Need something done?</h2>
                        <p class="text">Most viewed and all-time top-selling services</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-cv"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Post a job</h4>
                            <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-web-design"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Choose freelancers</h4>
                            <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-secure"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Pay safely</h4>
                            <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-customer-service"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">We’re here to help</h4>
                            <p class="text">It’s free and easy to post a job. Simply fill <br class="d-none d-xxl-block"> in a title, description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular Services -->
    <section class="pt-0 pb100">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="col-xl-3">
                    <div class="main-title mb30-lg">
                        <h2 class="title">Топ услуги</h2>
                        <p class="paragraph">Най-популярните услуги на едно място</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var service in Model.ServiceCardDTOs)
                {
                    <div class="col-sm-6 col-xl-3">
                        <div class="listing-style1 bdrs16">
                            <div class="list-thumb">
                                <img class="w-100" src="@service.MainImage" width="329" height="245" alt="service image">
                                <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                            </div>
                            <div class="list-content">
                                <p class="list-text body-color fz14 mb-1">@service.CategoryName</p>
                                <h5 class="list-title"><a asp-action="Service" asp-controller="Services" asp-route-id="@service.Id">@service.Name</a></h5>
                                <div class="review-meta d-flex align-items-center">
                                    <i class="fas fa-star fz10 review-color me-2"></i>
                                    <p class="mb-0 body-color fz14">
                                        <span class="dark-color me-2">
                                            @if (service.ReviewAvgCoef.Equals(double.NaN))
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                @service.ReviewAvgCoef.ToString("0.00", CultureInfo.InvariantCulture)
                                            }
                                        </span>@service.ReviewsCount ревюта
                                    </p>
                                </div>
                                <hr class="my-2">
                                <div class="list-meta d-flex justify-content-between align-items-center mt15">
                                    <a class="d-flex" href="">
                                        <span class="position-relative mr10">
                                            <img class="rounded-circle wa" src="@service.AuthorProfilePhoto" width="40" height="40" alt="skiller profile photo">
                                            <span class="online-badges"></span>
                                        </span>
                                        <span class="fz14">@service.AuthorName</span>
                                    </a>
                                    <div class="budget">
                                        <span class="fz17 fw500 dark-color ms-1">@service.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-12">
                    <div class="text-center mt30">
                        <a asp-action="Index" asp-controller="Services" class="ud-btn btn-light-thm bdrs60">Всички услуги<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA Banner -->
    <section class="cta-banner-about2 before-none at-home2 position-relative py-0">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-5 mb100-md">
                    <div class="mb30">
                        <h5 class="text-thm">For clients</h5>
                        <h2 class="title">Find talent your way</h2>
                    </div>
                    <p class="text">Work with the largest network of independent professionals and <br class="d-none d-lg-block"> get things done—from quick turnarounds to big transformations.</p>
                    <a class="ud-btn btn-thm bdrs90 default-box-shadow2 mt15 mb30-sm" href="page-contact.html">Contact Us<i class="fal fa-arrow-right-long"></i></a>
                </div>
                <div class="col-lg-5 col-xl-4 offset-xl-1 position-relative">
                    <div class="listbox-style1 px30 py-5 bdrs16 bgc-thm2 mt30-md position-relative">
                        <div class="list-style1">
                            <ul class="mb-0">
                                <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>The best for every budget</li>
                                <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>Quality work done quickly</li>
                                <li class="text-white fw500"><i class="far fa-check dark-color bgc-white"></i>Protected payments, every time</li>
                                <li class="text-white fw500 mb-0"><i class="far fa-check dark-color bgc-white"></i>24/7 support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="home2-cta-img" src="images/h2.png" alt="">
    </section>

    <!-- Categories -->
    <section class="pb-0 pt0">
        <div class="container">
            <div class="row align-items-center wow fadeInUp" data-wow-delay="300ms">
                <div class="col-lg-9">
                    <div class="main-title2">
                        <h2 class="title">Търси услуги по категории</h2>
                        <p class="paragraph">Всички категории на едно място</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-start text-lg-end mb-4">
                        <a asp-action="Index" asp-controller="Categories" class="ud-btn btn-light-thm bdrs90">Всички категории<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
                    <div class="dots_none slider-dib-sm slider-5-grid vam_nav_style owl-theme owl-carousel">
                        @foreach (var cCard in Model.CategoryCardDTOs)
                        {
                            <div class="item">
                                <div class="feature-style1 mb30 bdrs16">
                                    <div class="feature-img bdrs16 overflow-hidden"><img class="w-100" src="@cCard.MainImage" width="260" height="301" alt="Category Image"></div>
                                    <div class="feature-content">
                                        <div class="top-area">
                                            <h6 class="title mb-1">@cCard.ServicesCount услуги</h6>
                                            @if (cCard.Name.Contains(" и "))
                                            {
                                                <h5 class="text">
                                                    @for (int i = 0; i < cCard.Name.Split(" и ").Count(); i++)
                                                    {
                                                        @cCard.Name.Split(" и ")[i]
                                                        <br class="d-none d-lg-block">
                                                    }

                                                </h5>
                                            }
                                            else
                                            {
                                                <h5 class="text">@cCard.Name</h5>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Highest Rated Freelancers -->
    <section class="pt90 pt60-md pb130 pb60-md">
        <div class="container">
            <div class="row align-items-center wow fadeInUp">
                <div class="col-lg-9">
                    <div class="main-title">
                        <h2 class="title">Skiller-и с най-висок рейтинг</h2>
                        <p class="paragraph">Наемете най-подходящите хора за вашите услуги!</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-start text-lg-end mb-4">
                        <a class="ud-btn btn-light-thm bdrs90" href="page-freelancer-v1.html">Skillers<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="navi_pagi_bottom_center slider-4-grid owl-carousel owl-theme">
                        @foreach (var skiller in Model.UserCardDTOs)
                        {
                            <div class="item">
                                <div class="freelancer-style1 text-center bdr1 hover-box-shadow mb60 bdrs16" style="background-color: rgba(91, 187, 123, 0.1);">
                                    <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                                        <img class="rounded-circle mx-auto" src="@skiller.ProfilePhoto" width="90" height="90" alt="skiller profile photo">
                                        <span class="online"></span>
                                    </div>
                                    <div class="details">
                                        <h5 class="title mb-1">@skiller.Name</h5>
                                        <p class="mb-0">Career Ex.Nursing Assistant</p>
                                        <div class="review">
                                            <p>
                                                <i class="fas fa-star fz10 review-color pr10"></i>
                                                <span class="dark-color">
                                                    @if (skiller.ReviewAvgCoef.Equals(double.NaN))
                                                    {
                                                        <span>0</span>
                                                    }
                                                    else
                                                    {
                                                        @skiller.ReviewAvgCoef.ToString("0.00", CultureInfo.InvariantCulture)
                                                    }
                                                </span> (@skiller.ReviewsCount ревюта)
                                            </p>
                                        </div>
                                        <div class="skill-tags d-flex align-items-center justify-content-center mb5">
                                            <span class="tag" style="background-color: #5BBB7B1A;">Figma</span>
                                            <span class="tag mx10" style="background-color: #5BBB7B1A;">Sketch</span>
                                            <span class="tag" style="background-color: #5BBB7B1A;">HTML5</span>
                                        </div>
                                        <hr class="opacity-100 mt20 mb15">
                                        <div class="fl-meta d-flex align-items-center justify-content-between">
                                            <a class="meta fw500 text-start">Намира се в град<br><span class="fz14 fw400">@skiller.City</span></a>
                                        </div>
                                        <div class="d-grid mt15">
                                            <a class="ud-btn btn-light-thm bdrs90">@* href="page-freelancer-single.html" *@Виж профил<i class="fal fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="footer-style1 at-home6 home2-footer-radius pt25 pb-0">
        <div class="container">
            <div class="row bb-white-light pb10 mb60">
                <div class="col-md-7">
                    <div class="d-block text-center text-md-start justify-content-center justify-content-md-start d-md-flex align-items-center mb-3 mb-md-0">
                        <a class="fz17 fw500 text-white mr15-md mr30" href="">Terms of Service</a>
                        <a class="fz17 fw500 text-white mr15-md mr30" href="">Privacy Policy</a>
                        <a class="fz17 fw500 text-white" href="">Site Map</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="social-widget text-center text-md-end">
                        <div class="social-style1">
                            <a class="text-white me-2 fw500 fz17" href="">Follow us</a>
                            <a href=""><i class="fab fa-facebook-f list-inline-item"></i></a>
                            <a href=""><i class="fab fa-twitter list-inline-item"></i></a>
                            <a href=""><i class="fab fa-instagram list-inline-item"></i></a>
                            <a href=""><i class="fab fa-linkedin-in list-inline-item"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="link-style1 mb-4 mb-sm-5">
                        <h5 class="text-white mb15">About</h5>
                        <div class="link-list">
                            <a href="">Careers</a>
                            <a href="">Press & News</a>
                            <a href="">Partnerships</a>
                            <a href="">Privacy Policy</a>
                            <a href="">Terms of Service</a>
                            <a href="">Investor Relations</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="link-style1 mb-4 mb-sm-5">
                        <h5 class="text-white mb15">Categories</h5>
                        <ul class="ps-0">
                            <li><a href="">Graphics & Design</a></li>
                            <li><a href="">Digital Marketing</a></li>
                            <li><a href="">Writing & Translation</a></li>
                            <li><a href="">Video & Animation</a></li>
                            <li><a href="">Music & Audio</a></li>
                            <li><a href="">Programming & Tech</a></li>
                            <li><a href="">Data</a></li>
                            <li><a href="">Business</a></li>
                            <li><a href="">Lifestyle</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="link-style1 mb-4 mb-sm-5">
                        <h5 class="text-white mb15">Support</h5>
                        <ul class="ps-0">
                            <li><a href="">Help & Support</a></li>
                            <li><a href="">Trust & Safety</a></li>
                            <li><a href="">Selling on Freeio</a></li>
                            <li><a href="">Buying on Freeio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="footer-widget mb-4 mb-sm-5">
                            <div class="mailchimp-widget">
                                <h5 class="title text-white mb20">Subscribe</h5>
                                <div class="mailchimp-style1">
                                    <input type="email" class="form-control bdrs4" placeholder="Your email address">
                                    <button type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                        <div class="app-widget mb-4 mb-sm-5">
                            <h5 class="title text-white mb20">Apps</h5>
                            <div class="row mb-4 mb-lg-5">
                                <div class="col-lg-12">
                                    <a class="app-list d-flex align-items-center mb10" href="">
                                        <i class="fab fa-apple fz17 mr15"></i>
                                        <h6 class="app-title fz15 fw400 mb-0">iOS App</h6>
                                    </a>
                                    <a class="app-list d-flex align-items-center" href="">
                                        <i class="fab fa-google-play fz15 mr15"></i>
                                        <h6 class="app-title fz15 fw400 mb-0">Android App</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container white-bdrt1 py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center text-lg-start">
                        <p class="copyright-text mb-0 text-white-light ff-heading">© Freeio. 2023 CreativeLayers. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer_bottom_right_btns text-center text-lg-end">
                        <ul class="p-0 m-0">
                            <li class="list-inline-item">
                                <select class="selectpicker show-tick">
                                    <option>US$ USD</option>
                                    <option>Euro</option>
                                    <option>Pound</option>
                                </select>
                            </li>
                            <li class="list-inline-item">
                                <select class="selectpicker show-tick">
                                    <option>English</option>
                                    <option>Frenc</option>
                                    <option>Italian</option>
                                    <option>Spanish</option>
                                    <option>Turkey</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="scrollToHome at-home2" href="#"><i class="fas fa-angle-up"></i></a>
</div>