@using SkillBox.App.Models
@model IEnumerable<LaborServiceViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<ul class="container my-5 w-75 px-9 ">
    <li>
        <h2 class="mb-5">Намерете професионалист за всички ваши работи в и около къщата</h2>
    </li>
    <li>
        <h4 class="mb-2">Какво работиш?</h4>
    </li>
    <li>
        <div>
            <input type="text" id="q" value="Например рисуванe" />
            <input type="button" id="b" value="Нaмерете професионалист" />
        </div>
    </li>
    <li>
        <ul class="list-group-flush w-100 p-2">

            <li>
                <i class="fa-solid fa-user "></i><a id="registerBtn" class="nav-link text-dark fw-bold" asp-area="Identity" asp-page="/Account/Register">Регистрирайте се като потребител</a>
            </li>

        </ul>
    </li>

</ul>

<ul class="container2  w-76 px-9">
    <li>
        <h3 class="mb-3 pb-3">Как работи SkillBox?</h3>
    </li>


    <li>
        <div class="d-flex">
            <div>
                <h5 class="card-title">1. Публикувайте работата си</h5>
                <p class="card-text">Публикувайте работата си с няколко лесни стъпки и поканете интересни професионалисти да отговорят.</p>
            </div>


            <div >
                <h5 class="card-title">2. Професионалистите отговарят</h5>
                <p class="card-text">Заинтересованите специалисти обикновено отговарят в рамките на 24 часа след публикуването на вашата работа.</p>
            </div>


            <div>
                <h5 class="card-title">3. Изберете и започнете разговор</h5>
                <p class="card-text">Сравнете профилите и добавете любимите си професионалисти към избора си, за да обсъдите работата си и да поискате оферта.</p>
            </div>
        </div>

    </li>
</ul>

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <h1>Добре дошъл, @User.Identity!.Name!</h1>
        <h1>Вие сте Админ!</h1>
    }
    else
    {
        <h1 class="display-4">Добре дошъл!</h1>
        <div class="d-flex row-cols-1">
            @foreach (var laborService in Model)
            {
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="width: 18rem;">
                        <img src="@laborService.MainImage" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@laborService.Name</h5>
                            <p class="card-text">Описание: @laborService.Description</p>
                            <p class="card-text">Категория: @laborService.CategoryName</p>
                            <p class="card-text">Цена: @laborService.Price лв</p>
                            <p class="card-text">Намаление: @laborService.Discount лв</p>
                            <p class="card-text">Потребител: @laborService.AuthorName</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
