@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}
<div class="body_content bgc-thm4">
    <!--Fix header!!! Layout BodyTag and Wrapper classes!!! -->
    <!-- LogIn Area -->
    <section class="our-login">
        <div class="container">
            <div class="row" style="height: 50px !important;">
                <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
                    <div class="main-title text-center">
                        <h2 class="title">Вход</h2>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-delay="300ms">
                <div class="col-xl-6 mx-auto">
                    <div class="log-reg-form search-modal form-style1 bgc-white p50 p30-sm default-box-shadow1 bdrs12">
                        <form id="account" method="post">
                            <div class="mb30">
                                <h4>Радваме се да ви видим отново!</h4>
                                <p class="text">Нямате акаунт? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-thm">Създаване!</a></p>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="mb20">
                                <label asp-for="Input.EmailOrUsername" class="form-label fw600 dark-color">E-Mail адрес или потребителско име</label>
                                <input asp-for="Input.EmailOrUsername" type="text" class="form-control" autocomplete="on" aria-required="true" placeholder="email или потребителско име">
                                <span asp-validation-for="Input.EmailOrUsername" class="text-danger"></span>
                            </div>
                            <div class="mb15">
                                <label asp-for="Input.Password" class="form-label fw600 dark-color">Парола</label>
                                <input asp-for="Input.Password" type="password" autocomplete="on" aria-required="true" class="form-control" placeholder="*******">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb20">
                                <label asp-for="Input.RememberMe" class="custom_checkbox fz14 ff-heading">
                                    Запомни ме
                                    <input asp-for="Input.RememberMe" type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="fz14 ff-heading">Забравили сте си паролата?</a>
                            </div>
                            <div class="d-grid mb20">
                                <button type="submit" class="ud-btn btn-thm">Влизане <i class="fal fa-arrow-right-long"></i></button>
                            </div>
                        </form>
                        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <div class="hr_content mb20"><hr><span class="hr_top_text">ИЛИ</span></div>
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div class="d-md-flex justify-content-between">
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        if (provider.Name == "Facebook")
                                        {
                                            <button type="submit" class="ud-btn btn-fb fz14 fw400 mb-2 mb-md-0" name="provider" value="@provider.Name"><i class="fab fa-facebook-f pr10"></i> Вход с Facebook</button>
                                        }
                                        if (provider.Name == "Google")
                                        {
                                            <button type="submit" class="ud-btn btn-google fz14 fw400 mb-2 mb-md-0" name="provider" value="@provider.Name"><i class="fab fa-google"></i> Вход с Google</button>
                                        }
                                        if (provider.Name == "Apple")
                                        {
                                            <button type="submit" class="ud-btn btn-apple fz14 fw400" name="provider" value="@provider.Name"><i class="fab fa-apple"></i> Вход с Apple</button>
                                        }
                                    }
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}