@model ICollection<ChatMiniDTO>
<div class="container my-5">
    <div class="d-flex rounded-2" style="min-height: 500px; background-color: dimgrey;">
        <div class="d-flex flex-column w-100 m-2 p-2 rounded-2" style="background-color: lightslategray;">
            <h3 class="text-center">Чатове</h3>
            @if (!Model.Any(c => c.ParticipantsCount <= 2))
            {
                <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                    <span>Нямате чатове</span>
                </div>
            }
            else
            {
                foreach (var chat in Model.Where(c => c.ParticipantsCount <= 2))
                {
                    <table class="table table-primary text-center">
                        <thead>
                            <tr>
                                <th class="border-1">&#8470</th>
                                <th class="border-1">Име на чата</th>
                                <th class="border-1"><i class="fa-solid fa-circle-info"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-1">@chat.Id</td>
                                <td class="border-1">@chat.Name</td>
                                <td class="border-1">
                                    <a asp-action="Chat" asp-route-id="@chat.Id" class="btn btn-light btn-square border rounded-circle nav-fill"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <button type="button" class="btn btn-primary w-25 mt-auto mx-auto">Търсене на чат</button>
            }
        </div>
        <div id="separator" class="mh-100" style="width: 2px; background-color: white;">
        </div>
        <div class="d-flex flex-column w-100 m-2 p-2 rounded-2" style="background-color: lightslategray;">
            <h3 class="text-center">Чат групи</h3>
            @if (!Model.Any(c => c.ParticipantsCount > 2))
            {
                <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                    <span>Нямате чат групи</span>
                </div>
            }
            else
            {
                foreach (var chat in Model.Where(c => c.ParticipantsCount > 2))
                {
                    <table class="table table-primary text-center">
                        <thead>
                            <tr>
                                <th class="border-1">&#8470</th>
                                <th class="border-1">Име на чат групата</th>
                                <th class="border-1"><i class="fa-solid fa-circle-info"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-1">@chat.Id</td>
                                <td class="border-1">@chat.Name</td>
                                <td class="border-1">
                                    <a asp-action="Chat" asp-route-id="@chat.Id" class="btn btn-light btn-square border rounded-circle nav-fill"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <button type="button" class="btn btn-primary w-25 mt-auto mx-auto">Търсене на чат група</button>
            }
        </div>
    </div>
</div>