@model ICollection<ChatMiniDTO>
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="container my-5">
    <div class="d-flex rounded-2" style="min-height: 500px; background-color: dimgrey;">
        <div class="d-flex flex-column w-100 m-2 p-2 rounded-2" style="background-color: lightslategray;">
            <h3 class="text-center">Чатове</h3>
            @if (!Model.Any(c => c.ParticipantsCount <= 2))
            {
                <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                    <span>Нямате чатове</span>
                </div>
            }
            else
            {
                foreach (var chat in Model.Where(c => c.ParticipantsCount <= 2))
                {
                    <table class="table table-primary text-center">
                        <thead>
                            <tr>
                                <th class="border-1">&#8470</th>
                                <th class="border-1">Име на чата</th>
                                <th class="border-1"><i class="fa-solid fa-circle-info"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-1">@chat.Id</td>
                                <td class="border-1">@chat.Name</td>
                                <td class="border-1">
                                    <a asp-action="Chat" asp-route-id="@chat.Id" class="btn btn-light btn-square border rounded-circle nav-fill"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <button type="button" class="btn btn-primary w-25 mt-auto mx-auto">Търсене на чат</button>
            }
        </div>
        <div id="separator" class="mh-100" style="width: 2px; background-color: white;">
        </div>
        <div class="d-flex flex-column w-100 m-2 p-2 rounded-2" style="background-color: lightslategray;">
            <h3 class="text-center">Чат групи</h3>
            @if (!Model.Any(c => c.ParticipantsCount > 2))
            {
                <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                    <span>Нямате чат групи</span>
                </div>
            }
            else
            {
                foreach (var chat in Model.Where(c => c.ParticipantsCount > 2))
                {
                    <table class="table table-primary text-center">
                        <thead>
                            <tr>
                                <th class="border-1">&#8470</th>
                                <th class="border-1">Име на чат групата</th>
                                <th class="border-1"><i class="fa-solid fa-circle-info"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-1">@chat.Id</td>
                                <td class="border-1">@chat.Name</td>
                                <td class="border-1">
                                    <a asp-action="Chat" asp-route-id="@chat.Id" class="btn btn-light btn-square border rounded-circle nav-fill"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <button type="button" class="btn btn-primary w-25 mt-auto mx-auto">Търсене на чат група</button>
            }
        </div>
    </div>
</div>


<!--New Chat Design >-->
<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-12">
            <div class="dashboard_title_area">
                <h2>Dashboard</h2>
                <p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
        </div>
    </div>
    <div class="row mb40">
        <div class="col-lg-6 col-xl-5 col-xxl-4">
            <div class="message_container">
                <div class="inbox_user_list">
                    <!--Tabs nav start-->
                    <div class="ps-widget bgc-white bdrs4 overflow-hidden position-relative">
                        <div class="navtab-style1">
                            <nav>
                                <div class="nav nav-tabs mb20" id="nav-tab2" role="tablist">
                                    <button class="nav-link active fw500 ps-0" id="nav-item-1-tab" data-bs-toggle="tab" data-bs-target="#nav-item-1" type="button" role="tab" aria-controls="nav-item-1" aria-selected="true">Чатове</button>
                                    <button class="nav-link fw500" id="nav-item-2-tab" data-bs-toggle="tab" data-bs-target="#nav-item-2" type="button" role="tab" aria-controls="nav-item-2" aria-selected="false">Чат групи</button>
                                </div>
                            </nav>

                            <!--Tabs nav end-->
                            <div class="chat-member-list pr20 tab-content" id="nav-tabContent">
                                @if (!Model.Any(c => c.ParticipantsCount <= 2))
                                {
                                    <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                                        <span>Нямате чатове</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade show active" id="nav-item-1" role="tabpanel" aria-labelledby="nav-item-1-tab">
                                        @foreach (var chat in Model.Where(c => c.ParticipantsCount <= 2))
                                        {
                                            <div class="list-item">
                                                <a href="#">
                                                    <div class="d-flex align-items-center position-relative">
                                                        <img class="img-fluid float-start rounded-circle mr10" src="@chat.Photo" alt="Chat main photo">
                                                        <div class="d-sm-flex">
                                                            <div class="d-inline-block">
                                                                <div class="fz15 fw500 dark-color ff-heading mb-0">@chat.Name</div>
                                                                <p class="preview">@chat.ServiceName</p>
                                                            </div>
                                                            <div class="iul_notific">
                                                                <small>35 mins</small>
                                                                <div class="m_notif online">2</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }

                                @if (!Model.Any(c => c.ParticipantsCount > 2))
                                {
                                    <div class="d-inline m-auto p-2 rounded-2 text-light" style="background-color: #0d6efd;">
                                        <span>Нямате чат групи</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade show" id="nav-item-2" role="tabpanel" aria-labelledby="nav-item-2-tab">
                                        @foreach (var chat in Model.Where(c => c.ParticipantsCount > 2))
                                        {
                                            <div class="list-item">
                                                <a href="#">
                                                    <div class="d-flex align-items-center position-relative">
                                                        <img class="img-fluid float-start rounded-circle mr10" src="@chat.Photo" alt="Chat main photo">
                                                        <div class="d-sm-flex">
                                                            <div class="d-inline-block">
                                                                <div class="fz15 fw500 dark-color ff-heading mb-0">@chat.Name</div>
                                                                <p class="preview">@chat.ServiceName</p>
                                                            </div>
                                                            <div class="iul_notific">
                                                                <small>35 mins</small>
                                                                <div class="m_notif online">2</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>                                            
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-7 col-xxl-8">
            <div class="message_container mt30-md">
                <div class="user_heading px-0 mx30">
                    <div class="wrap">
                        <img class="img-fluid mr10" src="images/inbox/ms3.png" alt="ms3.png">
                        <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                            <div class="authors">
                                <h6 class="name mb-0">Arlene McCoy</h6>
                                <p class="preview">Active</p>
                            </div>
                            <div>
                                <a class="text-decoration-underline fz14 fw500 text-red ff-heading" href="#">Delete Conversation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inbox_chatting_box" style="">
                    <ul class="chatting_content">
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms4.png" alt="ms4.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>How likely are you to recommend our company to your friends and family?</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms5.png" alt="ms5.png">
                            </div>
                            <p>Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms5.png" alt="ms5.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>Ok, Understood!</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms5.png" alt="ms5.png">
                            </div>
                            <p>The project finally complete! Let's go to!.</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>Let's go!</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>Hello, John!</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms3.png" alt="ms3.png">
                            </div>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms3.png" alt="ms3.png">
                            </div>
                            <p>Are we meeting today?</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms3.png" alt="ms3.png">
                            </div>
                            <p>The project finally complete! Let's go to!</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>Let's go!</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms3.png" alt="ms3.png">
                            </div>
                            <p>Are we meeting today?</p>
                        </li>
                        <li class="reply float-end">
                            <div class="d-flex align-items-center justify-content-end mb15">
                                <div class="title fz15"><small class="mr10">35 mins</small> You</div>
                                <img class="img-fluid rounded-circle align-self-end ml10" src="images/inbox/ms3.png" alt="ms3.png">
                            </div>
                            <p>The project finally complete! Let's go to!</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>Let's go!</p>
                        </li>
                        <li class="sent float-start">
                            <div class="d-flex align-items-center mb15">
                                <img class="img-fluid rounded-circle align-self-start mr10" src="images/inbox/ms2.png" alt="ms2.png">
                                <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                            </div>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </li>
                    </ul>
                </div>
                <div class="mi_text">
                    <div class="message_input">
                        <form class="d-flex align-items-center">
                            <input class="form-control" type="search" placeholder="Type a Message" aria-label="Search">
                            <button class="btn ud-btn btn-thm">Send Message<i class="fal fa-arrow-right-long"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>