@model ChatDTO

<div class="message_container mt30-md">
    <input id="chatId" value="@Model.Id" hidden/>
    <div class="user_heading px-0 mx30">
        <div class="wrap">
            <img class="img-fluid mr10" src="images/inbox/ms3.png" width="50" height="50" alt="ms3.png">
            <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                <div class="authors">
                    <h6 class="name mb-0">@Model.Name</h6>
                    <p class="preview">@Model.ServiceName</p>
                </div>
                <div>
                    <a class="text-decoration-underline fz14 fw500 text-red ff-heading" href="#">Изтрий разговора</a>
                </div>
            </div>
        </div>
    </div>
    <div id="my-inbox-chatting-box" class="inbox_chatting_box" style="">
        <ul class="chatting_content">
            @foreach (var message in Model.Messages)
            {
                if (message.Owner.UserName == User.Identity?.Name)
                {
                    <li class="reply float-end">
                        <div class="d-flex align-items-center justify-content-end mb15">
                            <div class="title fz15"><small class="mr10">35 mins</small> Ти</div>
                            <img class="img-fluid rounded-circle align-self-end ml10" src="@message.Owner.ProfilePhoto" width="50" height="50" alt="User profile photo">
                        </div>
                        <p>@message.Content</p>
                    </li>
                }
                else
                {
                    <li class="sent float-start">
                        <div class="d-flex align-items-center mb15">
                            <img class="img-fluid rounded-circle align-self-start mr10" src="@message.Owner.ProfilePhoto" width="50" height="50" alt="User profile photo">
                            <div class="title fz15">@message.Owner.FirstName @message.Owner.LastName <small class="ml10">35 mins</small></div>
                        </div>
                        <p>@message.Content</p>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="mi_text">
        <div class="message_input">
            <div class="d-flex align-items-center">
                <input class="form-control" type="search" id="messageInput" placeholder="Аа..." aria-label="Search" />
                <button type="button" class="btn ud-btn btn-thm" id="sendButton">Изпрати<i class="fal fa-arrow-right-long"></i></button>
            </div>
        </div>
    </div>
</div>