@model ChatDTO

<div class="message_container mt30-md">
    <input id="chatId" value="@Model.Id" hidden />
    <div class="user_heading px-0 mx30">
        <div class="wrap">
            <img class="img-fluid mr10" src="@Model.ChatUsers.First().User.ProfilePhoto" width="50" height="50" alt="ms3.png">
            <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                <div class="authors">
                    <div class="d-flex">
                        <h6 class="name mb-0 d-inline">@Model.Name</h6>
                        <div class="text-center text-white rounded-square bdrs16 d-inline ms-2" style="width: 20px; height: 20px; background-color: #54A853; display: flex; justify-content: center; align-items: center;">
                            <span id="participantsCounter">@Model.ChatUsers.Count</span>
                        </div>
                    </div>
                    <p class="preview">@Model.ServiceName</p>
                </div>
                <div>
                    Beta - Нестабилно
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="title"><i class="fa-solid fa-bars"></i></span>
                        </button>
                        <ul class="dropdown-menu py-0">
                            <li><a asp-action="Chat" asp-route-id="@Model.Id" class="dropdown-item btn btn-light btn-square border bdrs16">Отваряне на цял екран <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>

                            <li>
                                <button type="button" class="dropdown-item btn btn-light btn-square border bdrs16" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                    Изтриване на разговора <i class="fa-solid fa-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Изтриване на разговора</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Натискайки бутона потвърди, вие ще премахнете този разговор от вашия списък с кореспонденции, но другите участници ще могат да виждат все още съобщенията в него!
                </div>
                <div class="modal-footer">
                    <button type="button" class="ud-btn btn-dark" data-bs-dismiss="modal">Откажи <i class="fal fa-arrow-right-long"></i></button>
                    <a asp-action="RemoveParticipant" asp-route-id="@Model.Id" class="ud-btn btn-thm">Премахни този чат <i class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="my-inbox-chatting-box" class="inbox_chatting_box" style="">
        <ul class="chatting_content">
            <li class="pt-0 text-center fz15">Начало</li>
            <li class="pt-0"><hr class="opacity-100 mb15 mt-0" style="height: 3px;" /></li>
            @foreach (var message in Model.Messages)
            {
                if (message.Owner.UserName == User.Identity?.Name)
                {
                    <li class="reply float-end">
                        <div class="d-flex align-items-center justify-content-end mb15">
                            <div class="title fz15"><small class="mr10">@message.CreatedOn</small> Ти</div>
                            <img class="img-fluid rounded-circle align-self-end ml10" src="@message.Owner.ProfilePhoto" width="50" height="50" alt="User profile photo">
                        </div>
                        <p>@message.Content</p>
                    </li>
                }
                else
                {
                    <li class="sent float-start">
                        <div class="d-flex align-items-center mb15">
                            <img class="img-fluid rounded-circle align-self-start mr10" src="@message.Owner.ProfilePhoto" width="50" height="50" alt="User profile photo">
                            <div class="title fz15">@message.Owner.FirstName @message.Owner.LastName <small class="ml10">@message.CreatedOn</small></div>
                        </div>
                        <p>@message.Content</p>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="mi_text">
        <div class="message_input">
            <div class="d-flex align-items-center">
                <input class="form-control" type="search" id="messageInput" placeholder="Аа..." aria-label="Search" />
                <button type="button" class="btn ud-btn btn-thm" id="sendButton">Изпрати<i class="fal fa-arrow-right-long"></i></button>
            </div>
        </div>
    </div>
</div>
<style>
    #participantsCounter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rounded-square {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.4;
    }

</style>
}