@model MyServicesViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-9">
            <div class="dashboard_title_area">
                <h2>Управление на услуги</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="text-lg-end">
                <a asp-action="Create" asp-controller="Services" class="ud-btn btn-dark default-box-shadow2">Добавяне на нова услуга<i class="fal fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            @if (Model.Services.Count() != 0)
            {
                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col"><b>Име</b></th>
                                    <th scope="col"><b>Цена</b></th>
                                    <th scope="col" class="text-center"><b>Управление</b></th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                @foreach (var service in Model.Services)
                                {
                                    <tr>
                                        <th class="ps-0" scope="row">
                                            <div class="freelancer-style1 p-0 mb-0 box-shadow-none">
                                                <div class="d-lg-flex align-items-lg-center">
                                                    <div class="details ml15 ml0-md mb15-md">
                                                        <h5 class="title mb-2">@service.Name</h5>
                                                        <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-place fz16 vam text-thm2 me-1"></i> @service.Location</p>
                                                        <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.CreatedOn</p>
                                                        <p class="mb-0 fz14 list-inline-item mb5-sm"><i class="flaticon-contract fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.OfferingsCount оферти</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="vam"><h5 class="mb-0">@service.Price <span class="fz14 fw400">@service.UnitPrice</span></h5></td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <a asp-action="Edit" asp-controller="Services" asp-route-id="@service.Id" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактирай"><span class="flaticon-pencil"></span></a>
                                                <a asp-action="Delete" asp-controller="Services" asp-route-id="@service.Id" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Изтрий"><span class="flaticon-delete"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center" style="height: 300px;">
                    <h2 class="d-inline mt50">Няма създадени услуги <a asp-action="Create" asp-controller="Services" class="login-info text-decoration-underline" style="font-size: 28px;">създайте нова услуга!</a></h2>
                </div>
            }
        </div>
    </div>
</div>