@model ServiceUpdateDTO
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="dashboard__content hover-bgc-color">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="row pb40">
            <div class="col-lg-9">
                <div class="dashboard_title_area">
                    <h2>Редактиране на услугата </h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-lg-end">
                    <button type="submit" class="ud-btn btn-dark">Редактиране<i class="fal fa-arrow-right-long"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                    <div class="bdrb1 pb15 mb25">
                        <h5 class="list-title fw-bold">Основна информация</h5>
                    </div>
                    <div class="col-xl-8">
                        <div class="form-style1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb20">
                                        <label asp-for="Title" class="heading-color ff-heading fw500 mb10">Заглавие на услугата</label>
                                        <input asp-for="Title" type="text" class="form-control" placeholder="Например: Поправям хладилници">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="PhoneNumber" class="heading-color ff-heading fw500 mb10">Телефон за връзка</label>
                                        <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="телефон">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="WebsiteName" class="heading-color ff-heading fw500 mb10">Уебсайт</label>
                                        <input asp-for="WebsiteName" type="text" class="form-control" placeholder="име">
                                        <span asp-validation-for="WebsiteName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="Price" class="heading-color ff-heading fw500 mb10">Цена</label>
                                        <input asp-for="Price" type="number" class="form-control" placeholder="0">
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="UnitPrice" class="heading-color ff-heading fw500 mb10">Мерна единица</label>
                                        <input asp-for="UnitPrice" type="text" class="form-control" placeholder="на час">
                                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="Discount" class="heading-color ff-heading fw500 mb10">Намаление</label>
                                        <input asp-for="Discount" type="number" class="form-control" placeholder="0">
                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ui-content mb20">
                                        <div class="form-style1">
                                            <label class="form-label fw500 fz16 dark-color">Статус на услугата</label>
                                            @{
                                                var statuses = CacheData.ServiceStatuses;
                                                CacheData.SelectedStatus = Model.Status!;
                                                if (statuses != null)
                                                {
                                                    if (statuses.Count != 0)
                                                    {
                                                        <div class="bootselect-multiselect">
                                                            <div class="dropdown bootstrap-select show-tick dropup">
                                                                <select asp-for="@Model.StatusId" class="selectpicker" tabindex="null">
                                                                    <option disabled>Посочи</option>
                                                                    @for (int i = 0; i < statuses.Count; i++)
                                                                    {
                                                                        if (statuses[i].Id == Model.Status!.Id)
                                                                        {
                                                                            <option value="@i" selected>@statuses[i].BGName</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@i">@statuses[i].BGName</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            @{
                                                var categories = CacheData.Categories;
                                                if (categories != null)
                                                {
                                                    if (categories.Count != 0)
                                                    {
                                                        <label asp-for="@Model.CategoryId" class="form-label fw500 fz16 dark-color">Категория</label>
                                                        <div class="bootselect-multiselect">
                                                            <div class="dropdown bootstrap-select dropup" style="width: 100%;">
                                                                <select asp-for="@Model.CategoryId" class="selectpicker" data-live-search="true" data-width="100%" tabindex="null">
                                                                    <option disabled>Избери</option>
                                                                    @foreach (var city in categories)
                                                                    {
                                                                        <option value="@city.Id" data-tokens="@city.Name">@city.Name</option>
                                                                    }
                                                                </select>
                                                                <div class="dropdown-menu" style="max-height: 330px; overflow: hidden; min-height: 189px;">
                                                                    <div class="bs-searchbox">
                                                                        <input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-1" aria-autocomplete="list" aria-activedescendant="bs-select-1-0">
                                                                    </div>
                                                                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" style="max-height: 249px; overflow-y: auto; min-height: 108px;">
                                                                        <ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;">
                                                                            <li class="selected active">
                                                                                <a role="option" class="dropdown-item active selected" id="bs-select-1-0" tabindex="0" aria-setsize="6" aria-posinset="1" aria-selected="true">
                                                                                    <span class="text">@categories[0].Name</span>
                                                                                </a>
                                                                            </li>
                                                                            @for (int i = 0; i < categories.Count(); i++)
                                                                            {
                                                                                <li>
                                                                                    <a role="option" class="dropdown-item" id="bs-select-1-@i" tabindex="0" aria-setsize="6" aria-posinset="@i">
                                                                                        <span class="text">@categories[i].Name</span>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            @{
                                                var cities = CacheData.Cities;
                                                if (cities != null)
                                                {
                                                    if (cities.Count != 0)
                                                    {
                                                        <label asp-for="@Model.CityId" class="form-label fw500 fz16 dark-color">Град</label>
                                                        <div class="bootselect-multiselect">
                                                            <div class="dropdown bootstrap-select dropup" style="width: 100%;">
                                                                <select asp-for="@Model.CityId" class="selectpicker" data-live-search="true" data-width="100%" tabindex="null">
                                                                    <option disabled>Избери</option>
                                                                    @foreach (var city in cities)
                                                                    {
                                                                        <option value="@city.Id" data-tokens="@city.BGName">@city.BGName</option>
                                                                    }
                                                                </select>
                                                                <div class="dropdown-menu" style="max-height: 330px; overflow: hidden; min-height: 189px;">
                                                                    <div class="bs-searchbox">
                                                                        <input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-1" aria-autocomplete="list" aria-activedescendant="bs-select-1-0">
                                                                    </div>
                                                                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" style="max-height: 249px; overflow-y: auto; min-height: 108px;">
                                                                        <ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;">
                                                                            <li class="selected active">
                                                                                <a role="option" class="dropdown-item active selected" id="bs-select-1-0" tabindex="0" aria-setsize="6" aria-posinset="1" aria-selected="true">
                                                                                    <span class="text">@cities[0].BGName</span>
                                                                                </a>
                                                                            </li>
                                                                            @for (int i = 0; i < cities.Count(); i++)
                                                                            {
                                                                                <li>
                                                                                    <a role="option" class="dropdown-item" id="bs-select-1-@i" tabindex="0" aria-setsize="6" aria-posinset="@i">
                                                                                        <span class="text">@cities[i].BGName</span>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="ui-content mb20">
                                        <div class="form-style1">
                                            <label class="form-label fw500 fz16 dark-color">Основно умение за услугата</label>
                                            @{
                                                var skills = CacheData.Skills;
                                                if (skills != null)
                                                {
                                                    if (skills.Count == 0)
                                                    {
                                                        <p>Не сте добавили лични умения, които да могат да се прикачат към услугата!</p>
                                                    }
                                                    else
                                                    {
                                                        <div class="bootselect-multiselect">
                                                            <div class="dropdown bootstrap-select show-tick dropup">
                                                                <select asp-for="@Model.SkillId" class="selectpicker" tabindex="null">
                                                                    <option disabled>Избери</option>
                                                                    @for (int i = 0; i < skills.Count; i++)
                                                                    {
                                                                        if (skills[i].Name == Model.MainSkill)
                                                                        {
                                                                            <option value="@i" selected>@skills[i].Name</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@i">@skills[i].Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb10">
                                        <label asp-for="Description" class="heading-color ff-heading fw500 mb10">Описание на услугата</label>
                                        <textarea asp-for="Description" cols="30" rows="6" placeholder="Напишете описание на услугата в размер от 10 до 500 символа..."></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-widget bgc-white bdrs12 p30 mb30 overflow-hidden position-relative">
                    <div class="bdrb1 pb15 mb25">
                        <h5 class="list-title fw-bold">График</h5>
                    </div>
                    <div class="col-xl-8" style="height: 360px;">
                        <div class="bootselect-multiselect">
                            <div class="dropdown bootstrap-select show-tick dropup">
                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[0])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[0]" checked id="cbtest-19-1" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[0]" id="cbtest-19-1" />
                                    }
                                    <label for="cbtest-19-1" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Пон</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[1])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[1]" checked id="cbtest-19-2" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[1]" id="cbtest-19-2" />
                                    }
                                    <label for="cbtest-19-2" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Вт</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[2])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[2]" checked id="cbtest-19-3" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[2]" id="cbtest-19-3" />
                                    }
                                    <label for="cbtest-19-3" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Ср</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[3])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[3]" checked id="cbtest-19-4" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[3]" id="cbtest-19-4" />
                                    }
                                    <label for="cbtest-19-4" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Чт</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[4])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[4]" checked id="cbtest-19-5" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[4]" id="cbtest-19-5" />
                                    }
                                    <label for="cbtest-19-5" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Пт</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[5])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[5]" checked id="cbtest-19-6" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[5]" id="cbtest-19-6" />
                                    }
                                    <label for="cbtest-19-6" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Съб</h2>
                                </div>

                                <div class="checkbox-wrapper-19">
                                    @if (Model.Days[6])
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[6]" checked id="cbtest-19-7" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Days[6]" id="cbtest-19-7" />
                                    }
                                    <label for="cbtest-19-7" class="check-box"></label>
                                    <h2 class="list-title fw-bold">Нед</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-widget bgc-white bdrs12 p30 mb30 overflow-hidden position-relative">
                    <div class="bdrb1 pb15 mb30">
                        <h5 class="list-title fw-bold">Снимки</h5>
                    </div>
                    <div class="col-sm-12">
                        <div class="d-flex mb30">
                            @{
                                CacheData.Images = Model.Images!;
                            }
                            <div id="imageCollection" class="d-flex flex-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        displayOnLoadImages();
    });
    function displayOnLoadImages() {
        const imageString = "@Model.Images";
        var imagesArray = imageString.split("|");
        if (imagesArray.length > 0) {
            imagesArray[imagesArray.length - 1] = imagesArray[imagesArray.length - 1].replace(/\|+$/, '');
        }
        imagesArray = imagesArray.filter(function (element) {
            return element !== "";
        });
        const imageCollection = document.getElementById('imageCollection');

        // Loop through each image URL
        imagesArray.forEach(function (imageUrl) {
            // Create image element
            const newImage = new Image();
            newImage.width = "131";
            newImage.height = "115";
            newImage.classList.add('bdrs12');
            newImage.alt = 'Uploaded Image';

            newImage.src = imageUrl;

            // Create container for image and delete button
            const newImageContainer = document.createElement('div');
            newImageContainer.classList.add('gallery-item', 'me-3', 'bdrs4');

            // Append image to container
            newImageContainer.appendChild(newImage);

            // Append container to image collection
            imageCollection.appendChild(newImageContainer);
        });
    }
</script>
<link rel="stylesheet" href="~/css/checkbox-style.css" asp-append-version="true" />