@model IEnumerable<ServiceCardDTO>
<div class="container">
    <div class="row">
        @foreach (var sCard in Model)
        {
            <div class="card m-2 p-0 " style="width: 261px; height: auto;">
                <img class="card-img-top" src="@sCard.MainImage" height="200" alt="Card image cap">
                <div class="card-body px-3">
                    <h5 class="card-title">@sCard.Name</h5>
                    <p class="card-text">@sCard.Description...</p>
                    <hr />
                    <div>
                        <p class="card-text">@sCard.CategoryName</p>
                        <p class="card-text">@sCard.AuthorName</p>
                        @if (sCard.Discount > 0.00m)
                        {
                            <p>
                                <span class="text-decoration-line-through">@(sCard.Price)лв</span>
                                <b class="font-monospace">@(sCard.Price - sCard.Discount)лв</b>
                                <br />
                                <span style="font-style: italic;">Намаление @(sCard.Discount)лв</span>
                            </p>
                        }
                        else
                        {
                            <p>@(sCard.Price)лв</p>
                        }
                    </div>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
</div>
