@model MyServicesViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-12">
            <div class="dashboard_title_area">
                <h2>Моите услуги</h2>
                <p class="text">Всички ваши услуги на едно място.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                @if (Model.Services.Count() != 0)
                {
                    <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                        <div class="navtab-style1">
                            <nav>
                                <div class="nav nav-tabs mb30" id="nav-tab2" role="tablist">
                                    <button class="nav-link active fw500 ps-0" id="nav-item-1-tab" data-bs-toggle="tab" data-bs-target="#nav-item-1" type="button" role="tab" aria-controls="nav-item-1" aria-selected="true">@Model.StatusesList.ElementAt(0).BGName</button>
                                    @foreach (var service in Model.StatusesList.Skip(1))
                                    {
                                        <button class="nav-link fw500" id="nav-item-@service.Id-tab" data-bs-toggle="tab" data-bs-target="#nav-item-@service.Id" type="button" role="tab" aria-controls="nav-item-@service.Id" aria-selected="false">@service.BGName</button>
                                    }
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                @foreach (var status in Model.StatusesList)
                                {
                                    if (status.Id == 1)
                                    {
                                        <div class="tab-pane fade show active" id="nav-item-@status.Id" role="tabpanel" aria-labelledby="nav-item-@status.Id-tab">
                                            <div class="packages_table table-responsive">
                                                <table class="table-style3 table at-savesearch">
                                                    <thead class="t-head">
                                                        <tr>
                                                            <th scope="col"><b>Име</b></th>
                                                            <th scope="col"><b>Цена</b></th>
                                                            <th scope="col" class="text-center"><b>Управление</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="t-body">
                                                        @foreach (var service in Model.Services.Where(s => s.StatusId == status.Id))
                                                        {
                                                            <tr>
                                                                <th class="align-top ps-0" scope="row">
                                                                    <div class="freelancer-style1 p-0 mb-0 box-shadow-none">
                                                                        <div class="d-lg-flex align-items-lg-center">
                                                                            <div class="details ml15 ml0-md mb15-md">
                                                                                <h5 class="title mb-2">@service.Name</h5>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-place fz16 vam text-thm2 me-1"></i> @service.Location</p>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.CreatedOn</p>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm"><i class="flaticon-contract fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.OfferingsCount оферти</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                                <td class="vam"><h5 class="mb-0">@service.Price <span class="fz14 fw400">@service.UnitPrice</span></h5></td>
                                                                <td class="align-top">
                                                                    <div class="d-flex justify-content-around">
                                                                        <a asp-action="Service" asp-controller="Services" asp-route-id="@service.Id" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори"><iconify-icon icon="ph:eye" width="1.4em" height="1.4em" style="color: #908e8e"></iconify-icon></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade show" id="nav-item-@status.Id" role="tabpanel" aria-labelledby="nav-item-@status.Id-tab">
                                            <div class="packages_table table-responsive">
                                                <table class="table-style3 table at-savesearch">
                                                    <thead class="t-head">
                                                        <tr>
                                                            <th scope="col"><b>Име</b></th>
                                                            <th scope="col"><b>Цена</b></th>
                                                            <th scope="col" class="text-center"><b>Управление</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="t-body">
                                                        @foreach (var service in Model.Services.Where(s => s.StatusId == status.Id))
                                                        {
                                                            <tr>
                                                                <th class="align-top ps-0" scope="row">
                                                                    <div class="freelancer-style1 p-0 mb-0 box-shadow-none">
                                                                        <div class="d-lg-flex align-items-lg-center">
                                                                            <div class="details ml15 ml0-md mb15-md">
                                                                                <h5 class="title mb-2">@service.Name</h5>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-place fz16 vam text-thm2 me-1"></i> @service.Location</p>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.CreatedOn</p>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm"><i class="flaticon-contract fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> @service.OfferingsCount оферти</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                                <td class="vam"><h5 class="mb-0">@service.Price <span class="fz14 fw400">@service.UnitPrice</span></h5></td>
                                                                <td class="align-top">
                                                                    <div class="d-flex justify-content-around">
                                                                        <a asp-action="Service" asp-controller="Services" asp-route-id="@service.Id" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори"><iconify-icon icon="ph:eye" width="1.4em" height="1.4em" style="color: #908e8e"></iconify-icon></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center" style="height: 300px;">
                        <h2 class="d-inline mt50">Няма създадени услуги <a asp-action="Create" asp-controller="Services" class="login-info text-decoration-underline" style="font-size: 28px;">създайте нова услуга!</a></h2>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>
</div>