@model SingleServiceViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="body_content" style="background-color: #ebfaf9;">
    <section class="categories_list_section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="listings_category_nav_list_menu">
                        <ul class="mb0 d-flex ps-0">
                            <li><a asp-action="Index" asp-controller="Categories" class="active">Всички категории</a></li>
                            @foreach (var category in Model.CategoryList)
                            {
                                <li><a asp-action="Category" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-lg-10">
                    <div class="breadcumb-style1 mb10-xs">
                        <div class="breadcumb-list">
                            <a asp-action="Index" asp-controller="Home">Начало</a>
                            <a asp-action="Index" asp-controller="Services">Услуги</a>
                            <a>@Model.Service.Name</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <div class="d-flex align-items-center justify-content-sm-end">
                        <div class="share-save-widget d-flex align-items-center">
                            <span class="icon flaticon-share dark-color fz12 mr10"></span>
                            <div class="h6 mb-0">Сподели</div>
                        </div>
                        <div class="share-save-widget d-flex align-items-center ml15">
                            <span class="icon flaticon-like dark-color fz12 mr10"></span>
                            <div class="h6 mb-0">Запази</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Details -->
    <section class="pt10 pb-0">
        <div class="container">
            <div class="row wrap">
                <div class="col-lg-8">
                    <div class="column">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-calendar"></span></div>
                                    <div class="details">
                                        <h5 class="title">График</h5>
                                        @if (Model.Service.Schedule == null)
                                        {
                                            <p class="mb-0 text">Без график</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 text">@Model.Service.Schedule</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-goal"></span></div>
                                    <div class="details">
                                        <h5 class="title">Основно умение</h5>
                                        @if (Model.Service.MainSkill != null)
                                        {
                                            <p class="mb-0 text">@Model.Service.MainSkill</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 text">Не е посочено</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-tracking"></span></div>
                                    <div class="details">
                                        <h5 class="title">Местоположение</h5>
                                        @if (Model.Service.Location == null)
                                        {
                                            <p class="mb-0 text">Липсва</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 text">@Model.Service.Location</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-single-sldier vam_nav_style slider-1-grid owl-carousel owl-theme mb60">
                            @foreach (var image in Model.Service.Images)
                            {
                                <div class="item">
                                    <div class="thumb p50 p30-sm"><img src="@image" class="w-100" width="636" height="415" alt="Service image"></div>
                                </div>
                            }
                        </div>
                        <div class="service-about">
                            <h4>Описание</h4>
                            <p class="text mb50">@Model.Service.Description</p>
                            <hr class="opacity-100 mb15">
                            <div class="product_single_content mb50">
                                <div class="mbp_pagination_comments">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="total_review mb30 mt45">
                                                <h4>@Model.Service.ReviewsCount Ревюта</h4>
                                            </div>
                                            <div class="d-md-flex align-items-center mb30">
                                                <div class="total-review-box d-flex align-items-center text-center mb30-sm">
                                                    <div class="wrapper mx-auto">
                                                        <div class="t-review mb15">
                                                            @if (Model.Service.ReviewAvgCoef.Equals(double.NaN))
                                                            {
                                                                <span>0</span>
                                                            }
                                                            else
                                                            {
                                                                @Model.Service.ReviewAvgCoef.ToString("0.00", CultureInfo.InvariantCulture)
                                                            }
                                                        </div>
                                                        <p class="text mb-0">@Model.Service.ReviewsCount ревюта</p>
                                                    </div>
                                                </div>
                                                <div class="wrapper ml60 ml0-sm">
                                                    @foreach (var rating in new[] { 5, 4, 3, 2, 1 })
                                                    {
                                                        var ratingCount = Model.RatingStats[rating];
                                                        var percentage = Model.Service.TotalReviews > 0 ? (ratingCount * 100.0 / Model.Service.TotalReviews) : 0;

                                                        <div class="review-list d-flex align-items-center mb10">
                                                            <div class="list-number">@rating Star</div>
                                                            <div class="progress">
                                                                <div class="progress-bar" style="width: @percentage%;" role="progressbar" aria-valuenow="@percentage" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="value text-end">@ratingCount</div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        @foreach (var comment in Model.Service.Reviews)
                                        {
                                            <div class="col-md-12">
                                                <div class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                                                    <img src="@comment.User.ProfilePhoto" class="mr-3 rounded-circle" width="60" height="60" alt="Commenter image">
                                                    <div class="ml20">
                                                        <h6 class="mt-0 mb-0">@comment.User.Name</h6>
                                                        <div><span class="fz14">@comment.CreatedOn</span></div>
                                                        <div class="comment-rating" style="line-height: 14px;">
                                                            @HtmlHelpers.RenderStars(comment.StarsCount)
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="text mt20 mb20 bg-light rounded-2 p-2 border border-2">@comment.Content</p>
                                            </div>
                                        }
                                        @if (Model.Service.Reviews.Count != 0)
                                        {
                                            <div class="col-md-12">
                                                <div class="position-relative bdrb1 pb50">
                                                    <a class="ud-btn btn-light-thm">Зареди още<i class="fal fa-arrow-right-long"></i></a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (Model.Service.OwnerUsername != User.Identity?.Name)
                            {
                                <div class="bsp_reveiw_wrt">
                                <h6 class="fz17">Добави ревю</h6>
                                <h6>Вашата оценка за тази услуга</h6>
                                <div class="d-flex" id="rating-stars">
                                    <i class="far fa-star review-color" data-value="1"></i>
                                    <i class="far fa-star review-color ms-2" data-value="2"></i>
                                    <i class="far fa-star review-color ms-2" data-value="3"></i>
                                    <i class="far fa-star review-color ms-2" data-value="4"></i>
                                    <i class="far fa-star review-color ms-2" data-value="5"></i>
                                </div>
                                <form asp-action="GetUserComment" asp-controller="Services" method="post" class="comments_form mt30 mb30-md">
                                    @if (TempData["RatingError"] != null)
                                    {
                                        <label class="text-danger">@TempData["RatingError"]</label>
                                    }
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label class="fw500 fz16 ff-heading dark-color mb-2">Коментар</label>
                                                <input name="serviceId" value="@Model.Service.Id" hidden />
                                                <input name="rating" id="rating" hidden />
                                                <textarea name="comment" class="pt15" rows="6" placeholder="Напишете какво мислите за тази услуга..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="submitCommentBtn" type="submit" class="btn ud-btn btn-thm">Изпрати<i class="fal fa-arrow-right-long"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            }                      
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="column">
                        <div class="blog-sidebar ms-lg-auto">
                            <div class="price-widget">
                                <div class="wrapper align-items-center">
                                    <div class="price-content pt-3">
                                        <div class="price">@Model.Service.Price</div>
                                        @if (Model.Service.Discount != 0)
                                        {
                                            <div class="price"><span style="font-size: 20px;">Предложено намаление: @Model.Service.Discount</span></div>
                                        }
                                        <div class="h5 mb-2">@Model.Service.Name</div>
                                        <p class="text fz14">@Model.Service.CategoryName</p>
                                        <hr class="opacity-100 mb20">
                                        <div class="list-style1">
                                            <ul class="">
                                                @if (Model.Service.WebsiteName != null)
                                                {
                                                    <li class="mb15"><i class="far fa-check text-thm3 bgc-thm3-light"></i>Уебсайт: @Model.Service.WebsiteName</li>
                                                }
                                                @if (Model.Service.PhoneNumber != null)
                                                {
                                                    <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Телефон: @Model.Service.PhoneNumber</li>
                                                }         
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="freelancer-style1 service-single mb-0">
                                <div class="wrapper d-flex align-items-center">
                                    <div class="thumb position-relative mb25">
                                        <img class="rounded-circle mx-auto" src="@Model.Service.OwnerProfilePhoto" width="90" height="90" alt="">
                                        <span class="online"></span>
                                    </div>
                                    <div class="ml20">
                                        <a asp-action="Skiller" asp-controller="Skillers" asp-route-id="@Model.Service.OwnerUsername">
                                            <h5 class="title mb-1">@Model.Service.OwnerName</h5>
                                        </a>
                                        @if (Model.Service.OwnerCareer != null)
                                        {
                                            <p class="mb-0">@Model.Service.OwnerCareer</p>
                                        }
                                        else
                                        {
                                            <p class="mb-0">@Model.Service.OwnerUsername</p>
                                        }
                                    </div>
                                </div>
                                <hr class="opacity-100">
                                <div class="details">
                                    <div class="fl-meta d-flex align-items-center justify-content-between">
                                        <a class="meta fw500 text-start">Моето текущо местоположение е град<br><span class="fz14 fw400">@Model.Service.OwnerCurrentLocation</span></a>
                                    </div>
                                </div>
                                <div class="d-grid mt30">
                                    <a asp-action="ConnectToChat" asp-controller="Chats" asp-route-id="@Model.Service.Id" class="ud-btn btn-thm-border">Свържи се с мен<i class="fal fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Listings -->
    <section class="pt30 pb90 pb30-md">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-lg-12">
                    <div class="main-title mb35">
                        <h2>Още популярни услуги </h2>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp">
                @foreach (var service in Model.ServiceCardDTOs)
                {
                    <div class="col-sm-6 col-lg-3">
                        <div class="listing-style1">
                            <div class="list-thumb">
                                <img class="w-100" src="@service.MainImage" width="259" height="193" alt="service image">
                                <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                            </div>
                            <div class="list-content">
                                <p class="list-text body-color fz14 mb-1">@service.CategoryName</p>
                                <h5 class="list-title"><a asp-action="Service" asp-route-id="@service.Id">@service.Name</a></h5>
                                <div class="review-meta d-flex align-items-center">
                                    <i class="fas fa-star fz10 review-color me-2"></i>
                                    <p class="mb-0 body-color fz14">
                                        <span class="dark-color me-2">
                                            @if (service.ReviewAvgCoef.Equals(double.NaN))
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                @service.ReviewAvgCoef.ToString("0.00", CultureInfo.InvariantCulture)
                                            }
                                        </span>@service.ReviewsCount ревюта
                                    </p>
                                </div>
                                <hr class="my-2">
                                <div class="list-meta d-flex justify-content-between align-items-center mt15">
                                    <a asp-action="Skiller" asp-controller="Skillers" asp-route-id="@service.AuthorUsername">
                                        <span class="position-relative mr10">
                                            <img class="rounded-circle" src="@service.AuthorProfilePhoto" width="40" height="40" alt="Skiller profile photo">
                                            <span class="online-badge"></span>
                                        </span>
                                        <span class="fz14">@service.AuthorName</span>
                                    </a>
                                    <div class="budget">
                                        <span class="fz17 fw500 dark-color ms-1">@service.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-12">
                <div class="text-center mt30">
                    <a asp-action="Index" asp-controller="Services" class="ud-btn btn-light-thm bdrs60">Всички услуги<i class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </section>
    <a class="scrollToHome at-home2" href=""><i class="fas fa-angle-up"></i></a>
</div>
<script>
    const stars = document.querySelectorAll('#rating-stars i');
    const ratingInput = document.getElementById('rating');
    const submitButton = document.getElementById('submitCommentBtn');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            let value = star.getAttribute('data-value');
            ratingInput.value = value;
            stars.forEach(s => {
                s.classList.remove('fas');
                s.classList.add('far');
            });
            for (let i = 0; i < value; i++) {
                stars[i].classList.remove('far');
                stars[i].classList.add('fas');
            }
        });
    });

    submitButton.addEventListener('click', (event) => {
        if (!ratingInput.value || ratingInput.value < 1 || ratingInput.value > 5) {
            event.preventDefault();
            alert('Моля, дайте оценка между 1 и 5 звезди.');
        }
    });
</script>
@section SearchScripts
{
    <script>

        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchInput = $(this).val();
                $.ajax({
                    url: "/Services/GetServicesBySearchInput",
                    type: "POST",
                    data: { userInput: searchInput },
                    success: function (response) {
                        debugger;

                        if (!response.exists) {
                            $("#searchServicesContainer").hide();
                            $("#searchServicesMainContainer").hide();
                            return;
                        }
                        $("#searchServicesContainer").empty();
                        for (let i = 0; i < response.services.length; i++) {
                            let service = response.services[i];
                            let serviceContainer = `
                                <div id="service${i + 1}Container" style="background-color:#ebfaf9; height:108px; display: none;" class="mb-2 p-2 d-flex justify-content-between bdrs6">
                                    <img id="service${i + 1}img" src="${service.mainImage}" class="bdrs6" width="92" height="92" />
                                    <div class="p-2 flex-fill">
                                        <h5 class="title mb-0" id="service${i + 1}Name">${service.name}</h5>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}SkillerName">${service.skillerName}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span class="fz17 fw500 dark-color" id="service${i + 1}Price">${service.price}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}Category">${service.category}</span>
                                        </p>
                                    </div>
                                    <div class="py-0">
                                        <a href="/Services/Service/${service.id}" class="ud-btn btn-thm w-100 bdrs60" id="service${i + 1}SkillerUsername" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори">Виж</a>
                                        <div class="mb-0 d-flex justify-content-end">
                                            <i class="fas fa-star fz10 review-color pe-1"></i>
                                            <span class="dark-color" id="service${i + 1}ReviewAvgCoef">${service.reviewAvgCoef}</span>&nbsp;(<span id="service${i + 1}ReviewsCount">${service.reviewsCount}</span>&nbsp;ревюта)
                                        </div>
                                    </div>
                                </div>`;
                            $("#searchServicesContainer").append(serviceContainer);
                        }
                        $("#searchServicesMainContainer").show();
                        $("#searchServicesContainer").show();
                    }
                });
            });
        });
    </script>
}